<section class="hero hero--home hero--tall text-center text-white">
  <div class="container p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-10">
        <h1 class="display-1">Dedicated to victims of racism in the media</h1>
        <p class="lead">
          The site is currently under construction and will be unveiled by August 1, 2021. Support us by taking the survey below.
        </p>
        <a href="#survey" class="btn btn-coral btn-lg mb-4">
          Take Our 10 Second Survey
        </a>
      </div>
    </div>
  </div>
</section>
