<section class="hero hero--home hero--tall text-center text-white">
  <div class="container p-5 position-absolute top-50 start-50 translate-middle">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-10">
        <h1 class="display-1">Dedicated to victims of racism in the media</h1>
        <p class="lead">
          The site is currently under construction and will be unveiled by August 1, 2021. Support us by taking the survey below.
        </p>

          <a class="typeform-share button btn btn-coral btn-lg mb-4" href="https://form.typeform.com/to/pRMciTFb?typeform-medium=embed-snippet" data-mode="drawer_right" target="_blank">
            Take Our 10 Second Survey
          </a>
          
      </div>
    </div>
  </div>
</section>


<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
